name: Publish client

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Publish
        run: |
          ./gradlew publishMavenPublicationToGitHubPackagesRepository --no-daemon
        env:
          ORG_GRADLE_PROJECT_BUILD_NUMBER: ${{ github.run_number }}
          ORG_GRADLE_PROJECT_PKG_USER: github
          ORG_GRADLE_PROJECT_PKG_SECRET: ${{ secrets.GITHUB_TOKEN }}
